body{
    min-height: 100vh;
    max-height: 100vh;
    /* background-color: #266382; */
    overflow: hidden;
}

.image{
    width: 300px;

}

@media screen and (min-width: 768px) {
    .image{
        width: 500px;
    }
}

@media screen and (min-width: 1024px){
    .image{
        width: 600px;
    }
}

main{
    height: 100vh;
    padding: 1rem;
}

.main-content{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-content-title{
    margin-top: 1.5rem;
}

.main-content > .content-title{
    font-size: 6rem;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: -5px 0 #266382, 0 5px #266382, 5px 0 #266382, 0 -5px #266382, 0px 20px 30px rgba(0, 0, 0, 1), 0px 40px 30px rgba(0, 0, 0, 0.8), 0px 60px 30px rgba(0, 0, 0, 0.4), 0px 80px 30px rgba(0, 0, 0, 0.2);
    letter-spacing: 4px;
    text-transform: uppercase;
}

.background-image{
    background: url("/assets/images/clouds.png");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-image{
    position: absolute;
}

.content-image-1{
    top: 10vh;
    left: 100px;
    height: 350px;
}

.content-image-1 > img{
    height: 100%;
}

.content-image-2{
    top: 20vh;
    right: 100px;
    height: 400px;
}

.content-image-2 > img{
    height: 100%;
}